.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      margin: auto;
      width: 70%;

  }
  html{
      height: 100%;
    }
  body{background: linear-gradient(310deg, #DEB887, #F9FC3C);}
.button24 {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: .5em 2em;
  outline: none;
  border-width: 2px 0;
  border-style: solid none;
  border-color: #FDBE33 #000 #D77206;
  border-radius: 6px;
  background: linear-gradient(#F3AE0F, #E38916) #E38916;
  transition: 0.2s;
  margin: 15px;

}
.button24:hover { background: linear-gradient(#f5ae00, #f59500) #f5ae00; }
.button24:active { background: linear-gradient(#f59500, #f5ae00) #f59500; }