<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Порфеиисональные анекдоты</title>
    <!--<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <style>
                      .carousel-inner > .item > img,
                      .carousel-inner > .item > a > img {
                          margin: auto;
                          width: 100%;

                      }
                      html{
                          height: 500%;
                        }
                      body{
                        background: linear-gradient(310deg, #DEB887, #F9FC3C);
                        margin: 0px;
                        padding:0px;
                        }

                      .text_font{font-family: Bradley Hand, cursive; font-size: 25px;}

                      .head_font{font-family: Bradley Hand, cursive; font-size: 500%;}

                      .button24 {
                        display: inline-block;
                        color: white;
                        text-decoration: none;
                        padding: .5em 2em;
                        outline: none;
                        border-width: 2px 0;
                        border-style: solid none;
                        border-color: #FDBE33 #000 #D77206;
                        border-radius: 6px;
                        background: linear-gradient(#F3AE0F, #E38916) #E38916;
                        transition: 0.2s;
                        margin: 15px;

                      }
                      .button24:hover { background: linear-gradient(#f5ae00, #f59500) #f5ae00; }
                      .button24:active { background: linear-gradient(#f59500, #f5ae00) #f59500; }

                      .information_table {
                            margin: 10% 0% 0% 0%;
                        }


    </style>
</head>
<body>
<div>
    <table border="0" class="t" width="100%">
        <tr>
            <th align="left" width="15%">
                <div align="left">
                    {%if is_home == 'False'%}
                    <form method="post">
                        <button type="submit" value='дом' class="button24">На главную</button>
                    </form>
                    {% endif %}
                </div>
            </th>
            <th align="center">
                <h1 align='center' class='head_font'>{{people}} шутят!</h1>
            </th>
            <th align="right" width="15%">
                <div align="right">
                    {%if not is_login == 'True'%}
                    <form method="post">
                        <button type="submit" value='login' class="button24">Войти{{if_login}}</button>
                    </form>
                    {% endif %}
                </div>
            </th>
        </tr>
    </table>
</div>
{% block content %}{% endblock %}
</body>
</html>