{% extends "common_template.html" %}

{% block content %}

<form method="post">
    <div align="center">
        <select class="custom-select" style="width:50%; marding: 10px;"  id="text" aria-describedby="textHelp" name="text">
            <option selected>Выберите...</option>
            {%for vel in choose_list%}
            <option value={{vel}}>{{vel}}</option>
            {%endfor%}
        </select>
    </div>
    <div align="center">
        <button type="submit" class="button24">искать</button>
    </div>

</form>
{% endblock %}