{% extends "common_template.html" %}

{% block content %}

<body>
<div style="margin: 5% 20% 5% 5%; border: 1px">
    <h1>Форма для регистрации </h1>
    <h2>{{error}}</h2>
    <form method="post" enctype="multipart/form-data">
        <input type="text" style="margin: 1% 0% 0% 0%" class="form-control" id="login" placeholder="Введите login"
               name="login">
        <input type="password" style="margin: 1% 0% 0% 0%" class="form-control" id="password" placeholder="Введите пароль"
               name="password">
        <input type="file" style="margin: 1% 0% 0% 0%" class="form-control-file" id="photo" name="file">
        <button type="submit" style="margin: 1% 0% 0% 0%" class="btn btn-primary">Отправить</button>
    </form>

    <h1 style="margin: 10% 0% 0% 0%">Авторизация</h1>
    <form method="post" enctype="multipart/form-data">
        <input type="text" style="margin: 1% 0% 0% 0%" class="form-control" id="login_true" placeholder="Введите login"
               name="login_true">
        <input type="password" style="margin: 1% 0% 0% 0%" class="form-control" id="password_true"
               placeholder="Введите пароль" name="password_true">
        <button type="submit" style="margin: 1% 0% 0% 0%" class="btn btn-primary">Войти</button>
    </form>

    {% if if_login%}
    <form method="post">
        <select style="margin: 10% 0% 0% 0%" class="custom-select" id="inputGroupSelect04"
                name = "exit" aria-label="Example select with button addon">
            <option selected>Выйти?</option>
            <option value="0">выйти</option>
            <option value="1">нет))</option>
        </select>
        <div class="input-group-append">
            <button style="margin: 1% 0% 0% 0%" class="btn btn-primary" type="submit">Выбрать</button>
        </div>
    </form>
    {%endif%}
</div>
</body>


{%endblock%}