{% extends "common_template.html" %}

{% block content %}

<!-- [((txt, user1, avatar1), (img, user2, avatar2))]-->

<div>
    <table cellpadding=25%" align="left" border="0" class="information_table" width="90%" style="margin: 5% 5% 5% 5%">
        {% for tuple in content_list %}
        <tr>
            {% for width, num in [("40%", 0), ("60%", 1)]%}
            <th width={{width}}>
                <table border="0" style="margin: 1% 0% 10% 0%">
                    {% if num == 0 %}
                    <tr>
                        <p class="text_font">{{tuple[num][0]}}</p>
                    </tr>
                    {% else %}
                    <tr align="center" style="margin: 10% 10% 10% 10%">
                        <img src={{tuple[num][0]}} alt="опс..." width="70%">
                    </tr>
                    {% endif %}
                    <tr>
                        <th>
                            <img src={{tuple[num][2]}} alt="опс..." height="8%">
                        </th>
                        <th>
                            <p class="comment">{{tuple[num][1]}}</p>
                        </th>
                    </tr>
                </table>
            </th>
            {% endfor %}
        </tr>
        {% endfor %}
        <table cellpadding=25%" align="left" border="4" bgcolor="#F0FFF0" class="information_table" width="90%"
               style="margin: 5% 5% 5% 5%">
            <tr>
                {%if if_login == ''%}
                <th>
                    <h3>Авторизуйтесь, чтобы добавить запись!</h3>
                </th>
                <th></th>
                {%else%}
                <th>
                    <form method="post">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <button type="submit" value='login' class="button24">Отправить</button>
                            </div>
                            <textarea class="form-control" name='infa' aria-label="With textarea"></textarea>
                        </div>
                    </form>
                </th>
                <th>
                    <form method="post" enctype="multipart/form-data">
                        <input type="file" style="margin: 1% 0% 0% 0%" class="form-control-file" id="photo"
                               name="file_fun">
                        <button type="submit" style="margin: 1% 0% 0% 0%" class="button24">Отправить</button>
                    </form>
                </th>
                {%endif%}

            </tr>
        </table>
    </table>
</div>
{%endblock%}

