{% extends "common_template.html" %}

{% block content %}

<div>
    <table border="0" class="information_table" width="100%">
        <tr align="center">
            <p class="text_font">{{text}}</p>
            <th><img src={{image}} alt="опс..." height="40%"></th>
        </tr>
    </table>
</div>

{%endblock%}